@model Web6.Models.MainPost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MainPost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopicMessage1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopicMessage1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopicMessage2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopicMessage2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopicCreator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopicCreator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopicCreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopicCreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopicEditDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopicEditDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" asp-controller="Home">Back to Index</a>
</div>
