
@{
    ViewData["Title"] = "Service";
}

<div>
    <h1 class="display-4">AccessServiceDirectly</h1>
    <p><b>Rand Value First : @ViewData["Num1"]</b></p>
    <p><b>Rand Value Second : @ViewData["Num2"]</b></p>
    <p><b>Add :</b></p>
    <p>@ViewData["Num1"] + @ViewData["Num2"] = @((int)ViewData["Num1"]! + (int)ViewData["Num2"]!)</p>
    <p><b>Sub :</b></p>
    <p>@ViewData["Num1"] - @ViewData["Num2"] = @((int)ViewData["Num1"]! - (int)ViewData["Num2"]!)</p>
    <p><b>Mult :</b></p>
    <p>@ViewData["Num1"] * @ViewData["Num2"] = @((int)ViewData["Num1"]! * (int)ViewData["Num2"]!)</p>
    <p><b>Div :</b></p>
    @if((int)ViewData["Num1"]! == 0 || (int)ViewData["Num2"]! == 0)
        {
            <p>@ViewData["Num1"] / @ViewData["Num2"] = Error (division on zero)</p>
    }
    else
    {
        <p>@ViewData["Num1"] / @ViewData["Num2"] = @((int)ViewData["Num1"]! / (int)ViewData["Num2"]!)</p>
    }
</div>

