
@{
    ViewData["Title"] = "Service";
}

@inject IRandomService randService

<div>
    <h1 class="display-4">AccessServiceDirectly</h1>
    <p><b>Rand Value First : @randService.GetNum1()</b></p>
    <p><b>Rand Value Second : @randService.GetNum2()</b></p>
    <p><b>Add :</b></p>
    <p>@randService.GetNum1() + @randService.GetNum2() = @(@randService.GetNum1() + @randService.GetNum2())</p>
    <p><b>Sub :</b></p>
    <p>@randService.GetNum1() - @randService.GetNum2() = @(@randService.GetNum1() - @randService.GetNum2())</p>
    <p><b>Mult :</b></p>
    <p>@randService.GetNum1() * @randService.GetNum2() = @(@randService.GetNum1() * @randService.GetNum2())</p>
    <p><b>Div :</b></p>
    @if(@randService.GetNum2() == 0)
        {
            <p>@randService.GetNum1() / @randService.GetNum2() = Error (division on zero)</p>
    }
    else
    {
        <p>@randService.GetNum1() / @randService.GetNum2() = @(@randService.GetNum1() / @randService.GetNum2())</p>
    }
</div>

