
@{
    ViewData["Title"] = "ViewBag";
}

<div>
    <h1 class="display-4">PassUsingViewBag</h1>
    <p><b>Rand Value First : @ViewBag.Num1</b></p>
    <p><b>Rand Value Second : @ViewBag.Num2</b></p>
    <p><b>Add :</b></p>
    <p> @ViewBag.Num1 +  @ViewBag.Num2 = @(@ViewBag.Num1 + @ViewBag.Num2)</p>
    <p><b>Sub :</b></p>
    <p> @ViewBag.Num1 -  @ViewBag.Num2 = @(@ViewBag.Num1 - @ViewBag.Num2)</p>
    <p><b>Mult :</b></p>
    <p> @ViewBag.Num1 *  @ViewBag.Num2 = @(@ViewBag.Num1 * @ViewBag.Num2)</p>
    <p><b>Div :</b></p>
     @if(ViewBag.Num2 == 0)
        {
            <p>@ViewBag.Num1 / @ViewBag.Num2 = Error (division on zero)</p>
    }
    else
    {
        <p>@ViewBag.Num1 / @ViewBag.Num2 = @(@ViewBag.Num1 / @ViewBag.Num2)</p>
    }
</div>

